body {
    font-family: 'Roboto', sans-serif;
    background-color: #F3F3F3;
}

* {
    box-sizing: border-box;
}

.hide-scrollbar {
    overflow-y: hidden;
}

.entry-page {
    position: fixed;
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    z-index: 8;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.entry-logo {
    width: 150px;
    margin: 95px auto 0px auto;
}

#userNameInput {
    margin: 74px auto 0px auto;
    width: 261px;
    height: 54px;
    border: 2px solid #D7D7D7;
    border-radius: 5px;
    outline: none;
    padding: 0px auto;
    text-align: center;
    font-size: 18px;
}

#userNameInput::placeholder {
    color: rgba(174, 174, 174);
}

.log-in {
    margin: 20px auto 0px auto;
    width: 109px;
    height: 45px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: #E7E7E7;
    color: #696969;
    cursor: pointer;
}

.loading {
    width: 120px;
    margin: 74px auto 0px auto;
}

.joining {
    font-size: 16px;
    font-weight: 500;
    margin: 20px auto 0px auto;
}

.top-bar {
    height: 80px;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0 24px 0 22px;
    z-index: 5;
}

.chat-logo {
    height: 50px;
    margin-top: 5px;
    cursor: pointer;
}

.people {
    font-size: 42px;
    cursor: pointer;
}

main {
    margin: 105px 0px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px -4px 6px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.side-bar {
    width: 259px;
    background-color: #ffffff;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 7;
    padding: 0 27px 35px 21px;
    overflow-y: scroll;
}

.side-bar-icons {
    font-size: 24px;
}

.options {
    text-align: center;
    margin-top: 35px;
    font-size: 16px;
}

.font-weight-700 {
    font-weight: 700;
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    font-size: 16px;
    cursor: pointer;
}

.option-name {
    display: flex;
    align-items: center;
    width: 163px;
    position: relative;
}

.option-name p {
    width: calc(100% - 26px);
    overflow-wrap: break-word;
}

.check {
    color: #28BB25;
    opacity: 0;
    position: absolute;
    right: 0;
    font-size: 23px;
}

.hidden {
    display: none;
}

.visible {
    opacity: 1;
}

.blurred-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.bottom-bar {
    height: 80px;
    width: 100vw;
    background-color: #ffffff;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px 27px 14px 17px;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.send-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: -10px;
}

.writing {
    height: 30px;
    width: calc(100% - 150px);
    min-width: 125px;
    border: none;
    outline: none;
    font-size: 18px;
}

.writing::placeholder {
    font-style: italic;
    color: #000000;
    font-weight: 400;
}

.send-message {
    font-size: 40px;
    min-width: 35px;
    cursor: pointer;
    margin-top: -5px;
}

.receiver {
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #505050;
    margin-left: 3px;
    display: flex;
    white-space: nowrap;
}   

#NM {
    min-width: 8px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 5px;
}

.message-box {
    display: flex;
    font-size: 14px;
    padding: 10px 9px 7px 9px;
    margin-top: 4px;
    flex-wrap: wrap;
}

.message-box * {
    margin-right: 5px;
    margin-bottom: 4px;
    line-height: 19px;
}

.wrapping-word, .message-box strong {
    word-break: break-all;
}

time {
    color: #aaaaaa;
}

.status {
    background-color: #DCDCDC;
}

.normal-message {
    background-color: #ffffff;
}

.private-message {
    background-color: #FFDEDE;
}